<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Minimal</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Minimal\net6.0\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>false</SelfContained>
    <PublishSelfContained>false</PublishSelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <GeneratePackageOnBuild>False</GeneratePackageOnBuild>
  </PropertyGroup>
</Project>